@using Playstore.Client.Models.Catalog;
@model IEnumerable<CatalogItemViewModel>;
@{
    ViewData["Title"] = "Catalog";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th width="20%">Name</th>
                <th width="50%">Description</th>
                <th width="10%">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CatalogItemViewModel item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Inventory" asp-action="PurchaseItem" asp-route-id=@item.Id class="btn btn-primary mx-2">
                                <i class="bi bi-cart"></i>
                                Purchase
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Inventory" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
