# systemd configuration to start DictationProcessorSvc as a service on Linux
# place this file in /etc/systemd/system
# place DictationProcessorSvc build (Release) files in /opt

[Unit]
Description=Dictation Processor Service

[Service]
ExecStart=/usr/bin/dotnet /opt/DictationProcessorSvc/DictationProcessorSvc.dll
Restart=always

[Install]
WantedBy=default.target
