@model IEnumerable<CategoryViewModel>;
@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <table class="table table-bordered table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CategoryViewModel category in Model)
        {
            <tr>
                <td width="50%">
                    @category.Name
                </td>
                <td width="30%">
                    @category.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
