<!-- partial view generated using `dotnet aspnet-codegenerator view Default Empty -partial -outDir=Pages/Shared/Components/RestaurantCount` -->
<!-- uses MVC directory/naming pattern -->

@model int

<div>
    There are @Model restaurants here. <a asp-page="/Restaurants/List">See them all!</a>
</div>