extends layout

block content
  h1= title
  p Welcome to #{title}
  p Learn about <a href="https://app.pluralsight.com/library/courses/docker-web-development">running ASP.NET Core inside a Docker container</a>
