<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Welcome to <%= title %></h1>
        <a href="sessions">Sessions</a>
        <ul>
            <% data.map((i) => { %>
                <li><%=i%></li>
            <% }); %>
        </ul>
    </body>
</html>