<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Welcome to <%= title %></h1>
        <p><a href="auth/signup">Sign up today!</a></p>
        <p><a href="sessions">Sessions</a></p>
    </body>
</html>