<html>
    <head>
        <title><%= session.title %> | Glovomatics</title>
    </head>
    <body>
        <h1><%= session.title %></h1>
        <p><%= session.description %></p>
        <p>by <%= session.speaker %></p>
    </body>
</html>