<html>
    <head>
        <title>Sign up | Globomantics</title>
    </head>
    <body>
        <h1>Sign Up!</h1>
        <form name="signup" action="/auth/signup" method="post">
            username: <input type="text" name="username" id="username"/><br/>
            password: <input type="password" name="password" id="password"/><br/>
            <input type="submit" value="Sign up today!" />
        </form>
    </body>
</html>